#bloc_page
{
	width: auto;
}
h1
{
	color: white;
	text-align: center;
	font-size: 5em;
	font-family: 'Mouse Memoirs', sans-serif;
}
h2
{
	color: #310c53;
	text-align: center;
	font-size: 3em;
	font-family: 'Mouse Memoirs', sans-serif;
}
p
{
	font-size: 1.2em;
	text-align: center;
	color: #310c53;
}
header
{
	background-color : #310c53;
	height: 140px;
	padding-top: 5px;
	padding-bottom: 0px;
}
.bloc_get
{
	margin-top: 90px;
}
body
{
	background-color: #eae8e8;
	font-family: 'sans-serif';
}
form
{
	text-align: center;
	font-size: 1.5em;
	display: block;
}
#mess
{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 25%;
	text-align: justify;
	overflow: scroll;
	height: 600px;
	width: 50%;
	border : 2px solid #310c53;
}
#connexion
{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.5em;
	margin-top: 25px;
}
#connect
{
	font-size: 0.7em;
	margin-top: 5px;
}
#prob
{
	text-align: center;
	position: absolute;
	bottom: 10%;
	right: 30%;
	left: 30%;
	top: 90%;
	
}
#liste
{
	list-style-type: none;
}
#li_devoirs
{
	/*border: 2px solid #310c53;*/
	margin-left: auto;
	margin-right:auto;
}
label
{
	display: block;
}
table
{
	border-collapse: collapse;
	margin-right: auto;
	margin-left: auto;
}
th,td
{
	border: 2px solid #310c53;
}
#envoyer
{
	margin-right: 50%;
	margin-left: 47.5%;
	margin-top: 30px;
}
ul
{
	text-align: center;
}
ul li
{
	font-size: 1.5em;
}
#jour
{
	border: 2px solid #310c53;
}

/* MEDIAS QUERIES */
@media all and (max-device-width: 480px)
{
	header
	{
		padding-top: 0px;
		height: 53px;	
	}
	h1
	{
		margin-top: 0px;
		font-size: 3em;
	}
	h2
	{
		display: none;
	}
	form #user, form #password
	{
	}
	form
	{
		margin-top: 20px;
	}
	#prob
	{
		top: 300px;
		padding-bottom: 100px;
	}
}
