#image_volet
{
	display: inline-block;	
	vertical-align: top;
	margin-right: 0px;
	padding-right: 0px;
}
#volet
{
	background-color: #e1e5ba;
	opacity: 0.8;
	display: inline-block;
	border-left: 2px solid black;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin-left: 0px;
	padding-left: 0px;
	height: 300px;
}
#volet h3
{
	text-align: center;
}
